In [1]:
# load relevant packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
# load the customer purchasing data
file_path = '/Users/ericjiang/Desktop/msci719_assignment/ass5/'
file_name = 'data.xlsx'
df = pd.read_excel(file_path + file_name)

In [3]:
df.head()

   Member    Order       SKU        Created On   Description
0  M09736  6468572  34993740  22-09-2014 22:45  Other Sauces
1  M09736  6468572  15669800  22-09-2014 22:45       Cashews
2  M09736  6468572  34989501  22-09-2014 22:45    Other Dals
3  M09736  6468572   7572303  22-09-2014 22:45       Namkeen
4  M09736  6468572  15669856  22-09-2014 22:45         Sugar

In [4]:
# count the number of items each customer purchased
df_count = df['Member'].groupby(df['Member']).agg({'item_count':'count'})\
           .reset_index().sort_values(by='item_count', ascending=False)

/Library/Anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [5]:
# extract the top 20 customers
df_top_20 = df_count.head(20).reset_index().drop('index',axis=1)

In [6]:
# append the rank to the top 20 customers
rank = []
for i in range(20):
    rank.append(i+1)
df_top_20['rank'] = rank

In [7]:
df_top_20

    Member  item_count  rank
0   M38622        1438     1
1   M33064        1318     2
2   M41747        1131     3
3   M32409        1106     4
4   M31966        1102     5
5   M56368        1021     6
6   M36432        1001     7
7   M41781         920     8
8   M35538         912     9
9   M33491         874    10
10  M48101         824    11
11  M35649         797    12
12  M45470         777    13
13  M43831         744    14
14  M33558         739    15
15  M32449         735    16
16  M52629         716    17
17  M55932         694    18
18  M43977         682    19
19  M78720         682    20

In [8]:
# merge the two datasets, and clean it for further analysis
df_combine = df.merge(df_top_20,how='inner',left_on='Member',right_on='Member')
df_combine = df_combine[['Member','rank','Order','Description']]
df_combine = df_combine.drop_duplicates(keep='first', inplace=False)
df_combine = df_combine.sort_values(by=['rank','Order']).reset_index().drop('index',axis=1)

In [9]:
df_combine

       Member  rank    Order                     Description
0      M38622     1  6431665                  Organic Flours
1      M38622     1  6431665               Exotic Vegetables
2      M38622     1  6431665  Glucose, Marie & Milk Biscuits
3      M38622     1  6431665        Organic Masalas & Spices
4      M38622     1  6431665                            Ghee
...       ...   ...      ...                             ...
14238  M78720    20  8381719                 Root Vegetables
14239  M78720    20  8381719                Other Vegetables
14240  M78720    20  8381719                           Chips
14241  M78720    20  8381719                           Beans
14242  M78720    20  8381719                         Shampoo

[14243 rows x 4 columns]

In [10]:
# load the current basket for the top 20 customers
current_basket = pd.read_csv('Current_Basket.csv')
current_basket.head()
current_basket = current_basket.drop("Members' position in the list",axis=1)

In [11]:
current_basket.head()

,Item1,Item2,Item3,Item4,Item5
0,Raw Rice,Organic F&V,NaN,NaN,NaN
1,Beans,Root Vegetables,Namkeen,Other Vegetables,NaN
2,Organic Rice & Rice Products,Avalakki / Poha,Organic F&V,NaN,NaN
3,Namkeen,Moong Dal,Cream Biscuits,Whole Spices,NaN
4,Beans,Ground Coffee,Sooji & Rava,NaN,NaN

In [12]:
# define a function for further use
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    

# the main part for iteration
for i in range(20):
    # extract the purchasing data for a specific customer
    df_sub = df_combine[df_combine['rank']==i+1].drop(['Member','rank'],axis=1)
    # reshape the dataset
    basket = df_sub.groupby(['Order','Description'])['Description'].count().unstack()\
             .reset_index().fillna(0).set_index('Order')
    basket_sets = basket.applymap(encode_units)
    # apply association rule mining functions
    frequent_itemsets = apriori(basket_sets,min_support=0.1,use_colnames=True)
    rules = association_rules(frequent_itemsets,support_only=True,min_threshold=0.1)
    # read the current basket of a specific customer
    a = list(current_basket.iloc[i])
    # drop null values
    b = [x for x in a if str(x) != 'nan']
    antecedent = b
    print('The result for customer'+' '+str(i+1))
    # sub iteration part: for each item in the current basket, find the top 5 consequents regarding support value
    for item in antecedent:
        result = rules[rules['antecedents']=={item}].sort_values(['support'],ascending=False).head(5)
        print(result[['antecedents','consequents','support']])
        print('******')
    print('The end for customer'+' '+str(i+1))
    print()
    print()
    print()

The result for customer 1
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
       antecedents                               consequents   support
36   (Organic F&V)                   (Organic Dals & Pulses)  0.338129
63   (Organic F&V)                         (Root Vegetables)  0.309353
57   (Organic F&V)                (Organic Masalas & Spices)  0.230216
172  (Organic F&V)  (Root Vegetables, Organic Dals & Pulses)  0.223022
17   (Organic F&V)                       (Exotic Vegetables)  0.215827
******
The end for customer 1



The result for customer 2
    antecedents                          consequents   support
11      (Beans)                    (Root Vegetables)  0.387640
5       (Beans)                   (Gourd & Cucumber)  0.337079
109     (Beans)  (Gourd & Cucumber, Root Vegetables)  0.320225
9       (Beans)                   (Other Vegetables)  0.292135
120     (Beans)  (Root Vegetables, Other Vegetables)  0.275281
******
           antecedents                consequents   support
10   (Root Vegetables)                    (Beans)  0.387640
35   (Root Vegetables)         (Gourd & Cucumber)  0.365169
108  (Root Vegetables)  (Gourd & Cucumber, Beans)  0.320225
54   (Root Vegetables)         (Other Vegetables)  0.308989
119  (Root Vegetables)  (Other Vegetables, Beans)  0.275281
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
            antecedents                          consequents   support
55   (Other Vegetables)                    (Root Vegetables)  0.308989
8    (Other Vegetables)                              (Beans)  0.292135
121  (Other Vegetables)             (Root Vegetables, Beans)  0.275281
33   (Other Vegetables)                   (Gourd & Cucumber)  0.258427
175  (Other Vegetables)  (Gourd & Cucumber, Root Vegetables)  0.241573
******
The end for customer 2



The result for customer 3
                         antecedents  \
164   (Organic Rice & Rice Products)
140   (Organic Rice & Rice Products)
1083  (Organic Rice & Rice Products)

                                    consequents   support
164                          (Other Dry Fruits)  0.150943
140                     (Organic Dals & Pulses)  0.122642
1083  (Other Dry Fruits, Organic Dals & Pulses)  0.103774
******
         antecedents              consequents   support
2  (Avalakki / Poha)  (Organic Dals & Pulses)  0.132075
1  (Avalakki / Poha)      (Exotic Vegetables)  0.113208
5  (Avalakki / Poha)       (Other Dry Fruits)  0.113208
******
        antecedents                           consequents   support
161   (Organic F&V)                     (Root Vegetables)  0.226415
113   (Organic F&V)                   (Exotic Vegetables)  0.216981
159   (Organic F&V)                    (Other Vegetables)  0.216981
1133  (Organic F&V)   (Root Vegetables, Other Vegetables)  0.216981
983   (Organic F&V)  (Root Vegetables, Exotic Vegetables)  0.198113
******
The end for customer 3



The result for customer 4
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
      antecedents                   consequents   support
341   (Moong Dal)                  (Other Dals)  0.246575
281   (Moong Dal)            (Gourd & Cucumber)  0.232877
345   (Moong Dal)            (Other Vegetables)  0.232877
207   (Moong Dal)                    (Brinjals)  0.219178
3613  (Moong Dal)  (Other Vegetables, Brinjals)  0.219178
******
            antecedents                                     consequents  \
263    (Cream Biscuits)                              (Other Vegetables)
4021   (Cream Biscuits)            (Gourd & Cucumber, Other Vegetables)
249    (Cream Biscuits)                              (Gourd & Cucumber)
19683  (Cream Biscuits)  (Gourd & Cucumber, Other Vegetables, Brinjals)
3361   (Cream Biscuits)                    (Gourd & Cucumber, Brinjals)

        support
263    0.630137
4021   0.602740
249    0.602740
19683  0.561644
3361   0.561644
******
         antecedents            consequents   support
421   (Whole Spices)           (Other Dals)  0.150685
42    (Whole Spices)              (Almonds)  0.123288
1038  (Whole Spices)  (Other Dals, Almonds)  0.123288
235   (Whole Spices)             (Brinjals)  0.109589
311   (Whole Spices)     (Gourd & Cucumber)  0.109589
******
The end for customer 4



The result for customer 5
    antecedents                          consequents   support
17      (Beans)                   (Other Vegetables)  0.598540
7       (Beans)                           (Brinjals)  0.489051
21      (Beans)                    (Root Vegetables)  0.489051
133     (Beans)         (Other Vegetables, Brinjals)  0.481752
234     (Beans)  (Root Vegetables, Other Vegetables)  0.467153
******
         antecedents                consequents   support
65   (Ground Coffee)         (Other Vegetables)  0.350365
11   (Ground Coffee)                    (Beans)  0.313869
187  (Ground Coffee)  (Other Vegetables, Beans)  0.284672
69   (Ground Coffee)          (Root Vegetables)  0.277372
35   (Ground Coffee)                 (Brinjals)  0.270073
******
        antecedents                          consequents   support
91   (Sooji & Rava)                   (Other Vegetables)  0.175182
23   (Sooji & Rava)                              (Beans)  0.138686
101  (Sooji & Rava)                    (Root Vegetables)  0.138686
241  (Sooji & Rava)            (Other Vegetables, Beans)  0.138686
469  (Sooji & Rava)  (Root Vegetables, Other Vegetables)  0.138686
******
The end for customer 5



The result for customer 6
            antecedents                consequents   support
10   (Other Vegetables)                    (Beans)  0.559322
39   (Other Vegetables)         (Gourd & Cucumber)  0.516949
138  (Other Vegetables)  (Gourd & Cucumber, Beans)  0.508475
76   (Other Vegetables)          (Root Vegetables)  0.330508
61   (Other Vegetables)               (Other Dals)  0.330508
******
    antecedents                           consequents   support
3       (Beans)                    (Gourd & Cucumber)  0.779661
11      (Beans)                    (Other Vegetables)  0.559322
9       (Beans)                          (Other Dals)  0.533898
17      (Beans)                     (Root Vegetables)  0.525424
139     (Beans)  (Gourd & Cucumber, Other Vegetables)  0.508475
******
    antecedents                consequents   support
1    (Brinjals)                    (Beans)  0.262712
27   (Brinjals)         (Gourd & Cucumber)  0.237288
103  (Brinjals)  (Gourd & Cucumber, Beans)  0.237288
31   (Brinjals)         (Other Vegetables)  0.220339
115  (Brinjals)  (Other Vegetables, Beans)  0.211864
******
The end for customer 6



The result for customer 7
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
          antecedents         consequents   support
9  (Other Vegetables)  (Gourd & Cucumber)  0.152709
2  (Other Vegetables)             (Beans)  0.103448
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 7



The result for customer 8
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
           antecedents                   consequents   support
43   (Root Vegetables)            (Other Vegetables)  0.299065
22   (Root Vegetables)                    (Brinjals)  0.271028
10   (Root Vegetables)                       (Beans)  0.214953
123  (Root Vegetables)  (Other Vegetables, Brinjals)  0.205607
37   (Root Vegetables)                     (Namkeen)  0.158879
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 8



The result for customer 9
       antecedents                consequents   support
15   (Snacky Nuts)                   (Banana)  0.478261
51   (Snacky Nuts)          (Root Vegetables)  0.460870
153  (Snacky Nuts)  (Banana, Root Vegetables)  0.391304
43   (Snacky Nuts)              (Organic F&V)  0.382609
37   (Snacky Nuts)                  (Namkeen)  0.304348
******
           antecedents            consequents   support
13   (Root Vegetables)               (Banana)  0.608696
50   (Root Vegetables)          (Snacky Nuts)  0.460870
22   (Root Vegetables)                (Beans)  0.443478
40   (Root Vegetables)          (Organic F&V)  0.408696
152  (Root Vegetables)  (Banana, Snacky Nuts)  0.391304
******
    antecedents                     consequents   support
12     (Banana)               (Root Vegetables)  0.608696
14     (Banana)                   (Snacky Nuts)  0.478261
6      (Banana)                   (Organic F&V)  0.426087
151    (Banana)  (Root Vegetables, Snacky Nuts)  0.391304
0      (Banana)                         (Beans)  0.382609
******
The end for customer 9

The result for customer 10
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
            antecedents         consequents   support
36  (Exotic Vegetables)          (Brinjals)  0.275641
7   (Exotic Vegetables)            (Banana)  0.243590
47  (Exotic Vegetables)  (Gourd & Cucumber)  0.237179
50  (Exotic Vegetables)  (Other Vegetables)  0.217949
52  (Exotic Vegetables)   (Root Vegetables)  0.217949
******
The end for customer 10



The result for customer 11
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
       antecedents      consequents   support
19  (Other Juices)  (Ground Coffee)  0.104839
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 11



The result for customer 12
    antecedents               consequents   support
36     (Banana)         (Root Vegetables)  0.555556
12     (Banana)                   (Beans)  0.388889
197    (Banana)  (Root Vegetables, Beans)  0.322222
44     (Banana)            (Whole Spices)  0.300000
28     (Banana)              (Other Dals)  0.266667
******
        antecedents                consequents   support
45   (Whole Spices)                   (Banana)  0.300000
111  (Whole Spices)          (Root Vegetables)  0.300000
301  (Whole Spices)  (Banana, Root Vegetables)  0.266667
64   (Whole Spices)                    (Beans)  0.211111
366  (Whole Spices)   (Root Vegetables, Beans)  0.200000
******
    antecedents                consequents   support
103   (Raisins)          (Root Vegetables)  0.155556
35    (Raisins)                   (Banana)  0.133333
289   (Raisins)  (Banana, Root Vegetables)  0.111111
******
The end for customer 12



The result for customer 13
   antecedents               consequents   support
6    (Namkeen)                   (Beans)  0.166667
22   (Namkeen)         (Root Vegetables)  0.134921
55   (Namkeen)  (Root Vegetables, Beans)  0.119048
******
   antecedents               consequents   support
17     (Chips)         (Root Vegetables)  0.222222
3      (Chips)                   (Beans)  0.214286
45     (Chips)  (Root Vegetables, Beans)  0.158730
******
The end for customer 13



The result for customer 14
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
     antecedents        consequents   support
10  (Other Dals)             (Curd)  0.176991
14  (Other Dals)        (Moong Dal)  0.141593
18  (Other Dals)  (Root Vegetables)  0.123894
******
The end for customer 14



The result for customer 15
    antecedents               consequents   support
0      (Banana)                   (Beans)  0.558140
18     (Banana)         (Root Vegetables)  0.453488
16     (Banana)                (Raw Rice)  0.395349
203    (Banana)  (Root Vegetables, Beans)  0.360465
14     (Banana)        (Other Vegetables)  0.348837
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 15



The result for customer 16
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
          antecedents      consequents   support
24  (Diapers & Wipes)  (Ground Coffee)  0.159664
3   (Diapers & Wipes)          (Beans)  0.100840
******
The end for customer 16



The result for customer 17
   antecedents                           consequents   support
8     (Banana)                         (Organic F&V)  0.178947
10    (Banana)                    (Other Vegetables)  0.178947
5     (Banana)                    (Gourd & Cucumber)  0.147368
76    (Banana)  (Gourd & Cucumber, Other Vegetables)  0.136842
6     (Banana)                             (Namkeen)  0.126316
******
   antecedents       consequents   support
50   (Namkeen)     (Organic F&V)  0.263158
28   (Namkeen)  (Cream Biscuits)  0.252632
52   (Namkeen)    (Other Juices)  0.252632
24   (Namkeen)     (Corn Snacks)  0.200000
42   (Namkeen)   (Health Drinks)  0.168421
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 17



The result for customer 18
       antecedents                          consequents   support
49   (Organic F&V)                   (Other Vegetables)  0.468085
51   (Organic F&V)                    (Root Vegetables)  0.414894
19   (Organic F&V)                           (Brinjals)  0.382979
191  (Organic F&V)  (Other Vegetables, Root Vegetables)  0.329787
137  (Organic F&V)         (Other Vegetables, Brinjals)  0.297872
******
   antecedents                          consequents   support
6     (Banana)                   (Other Vegetables)  0.297872
8     (Banana)                    (Root Vegetables)  0.244681
0     (Banana)                           (Brinjals)  0.223404
99    (Banana)  (Other Vegetables, Root Vegetables)  0.212766
75    (Banana)         (Other Vegetables, Brinjals)  0.202128
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []
******
The end for customer 18



The result for customer 19
     antecedents               consequents   support
315   (Urad Dal)                (Toor Dal)  0.272727
319   (Urad Dal)            (Whole Spices)  0.236364
243   (Urad Dal)              (Other Dals)  0.236364
283   (Urad Dal)                (Raw Rice)  0.218182
1411  (Urad Dal)  (Toor Dal, Whole Spices)  0.200000
******
   antecedents         consequents   support
11   (Almonds)  (Other Dry Fruits)  0.236364
29   (Almonds)      (Whole Spices)  0.236364
9    (Almonds)        (Other Dals)  0.218182
0    (Almonds)           (Cashews)  0.181818
4    (Almonds)     (Ground Coffee)  0.181818
******
    antecedents          consequents   support
284  (Raw Rice)       (Whole Spices)  0.290909
229  (Raw Rice)         (Other Dals)  0.272727
280  (Raw Rice)           (Toor Dal)  0.254545
282  (Raw Rice)           (Urad Dal)  0.218182
137  (Raw Rice)  (Exotic Vegetables)  0.218182
******
The end for customer 19



The result for customer 20
    antecedents         consequents   support
11      (Chips)            (Banana)  0.349206
92      (Chips)             (Bread)  0.269841
147     (Chips)          (Toor Dal)  0.269841
143     (Chips)  (Other Vegetables)  0.238095
322     (Chips)     (Banana, Bread)  0.238095
******
          antecedents         consequents   support
21   (Instant Pastas)            (Banana)  0.222222
100  (Instant Pastas)             (Bread)  0.158730
134  (Instant Pastas)             (Chips)  0.158730
184  (Instant Pastas)      (Other Sweets)  0.158730
186  (Instant Pastas)  (Other Vegetables)  0.158730
******
The end for customer 20